.projects {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  text-align: center;
}

.projects h1 {
	font-size: 4vh;
}

.overlay h1{
	font-size: 6vh;
}


.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

.foodguru{
  position: absolute;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  margin: 15vh auto;
  font-size: 3.5vh;
  display: none;
}

.mikkoconverter{
  position: absolute;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  margin: 15vh auto;
  font-size: 3.5vh;
  display: none;
}

.newvietconverter{
  position: absolute;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  margin: 15vh auto;
  font-size: 3.5vh;
  display: none;
}

.whisper{
  position: absolute;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  margin: 15vh auto;
  font-size: 3.5vh;
  display: none;
}

.cancel{
	position: absolute;
	right: 7vh;
	top:7vh;
	font-size: 7vh;
}