@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
body {
  	font-family: 'Comfortaa', cursive;
    background-color: #232741;
}
h1.major,
h2.major,
h3.major,
h4.major,
h5.major,
h6.major {
  padding-bottom: 1em;
  border-bottom: solid 2px rgba(255, 255, 255, 0.125);
  margin-bottom: 20px;
}
a {
  color: #33A9B7;
}
#typer-size{
	font-size: 5vh;
}
a:hover,
a:focus {
  color: #00E4FF;
  text-decoration: none;
}

section{
  display: table;
  position: relative;
  width: 100%;
  height: 100vh;
  color: white;
}

#particles2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.arrow-holder {
  z-index: 99;
  width: 100%;
  position: fixed;
  height: 4%;
  bottom: 5%;
  font-size: 60px;

  color: #999999;
}

#arrow-down {
  display: none
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
dropdown{
   display: inline-block;
   position: fixed;
   top:20px;
   right: 20px;
   font-size: 4vh;
}
dropdown label, dropdown ul li{
  display: block;
  width: 22vh;
  background: rgba(0,0,0,0);
  padding: 15px 20px;
  color: #fff;
}
dropdown label:hover, dropdown ul li:hover{
  background: #1ABC9C;
  color: white;
  cursor: pointer;
}
dropdown label{
  border-left: 0.7vh solid #1ABC9C;
  border-radius: 0 5px 0 0; 
  position: relative;
  z-index: 2;
}
dropdown input{
  display: none;
}
dropdown input ~ ul {
  position: relative;
  visibility: hidden;
  opacity: 0;
  top: -20px;
  z-index: 1;
}

dropdown input:checked + label {
  background: #1ABC9C;
  color: white;
}

dropdown input:checked ~ ul {
  visibility: visible;
  opacity: 1;
  top: 0;
}

dropdown ul li:nth-child(1) {
  border-left: 0.7vh solid #1ABC9C;
}
dropdown ul li:nth-child(1) .fa {
  color: #1ABC9C;
}
dropdown ul li:nth-child(1):hover {
  background: #1ABC9C;
  color: white;
}
dropdown ul li:nth-child(1):hover .fa {
  color: white;
}


dropdown ul li:nth-child(2) {
  border-left: 0.7vh solid #E74C3C;
}
dropdown ul li:nth-child(2) .fa {
  color: #E74C3C;
}
dropdown ul li:nth-child(2):hover {
  background: #E74C3C;
  color: white;
}
dropdown ul li:nth-child(2):hover .fa {
  color: white;
}

dropdown ul li:nth-child(3) {
  border-left: 0.7vh solid #0072B5;
}
dropdown ul li:nth-child(3) .fa {
  color: #0072B5;
}
dropdown ul li:nth-child(3):hover {
  background: #0072B5;
  color: white;
}
dropdown ul li:nth-child(3):hover .fa {
  color: white;
}

dropdown ul li:nth-child(4) {
  border-left: 0.7vh solid #F9A825;
}
dropdown ul li:nth-child(4) .fa {
  color: #F9A825;
}
dropdown ul li:nth-child(4):hover {
  background: #F9A825;
  color: white;
}
dropdown ul li:nth-child(4):hover .fa {
  color: white;
}

.desc{
  position: absolute;
  text-align: right;
  right: 20px;
  top: 14vh;
  font-size: 2.5vh;
  left: -99999999px;
  color: white;
}
.animate{
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;  
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden; /* Chrome and Safari */
  -moz-backface-visibility:hidden; /* Firefox */
  -ms-backface-visibility:hidden; /* Internet Explorer */
}